{% extends "WindowsAzureTaskDemoBundle::layout.html.twig" %}

{% block content %}
{% if error %}
    <div>{{ error.message }}</div>
{% endif %}

<form action="{{ path('azure_login_check') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    <input type="submit" name="login" />
</form>

<a href="{{ path('azure_register') }}">Register account</a>
{% endblock %}
